---
import Layout from '../layouts/Layout.astro';
import AnimatedTitle from '../components/AnimatedTitle';
import Form from '../components/contact-page/Form';
---

<Layout title="Contacto - Diego Ríos | Desarrollador Web">
    <div class="pt-8 pb-10 overflow-hidden md:pb-20 lg:pt-[72px] lg:pb-[120px]">
        <div class="container">
            <Form client:load />
        </div>
    </div>
</Layout>
